.root {
  @include container;
  & {
    margin-top: 3rem;
    padding: 1.5rem 0.5rem 2rem;
    border-top: 0.1rem solid $color-cyan;
    background-color: $color-cyan-lightest;
  }
}

.header {
  @include typoHeader3;
  & {
    margin: 0 0.5rem 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div:last-child {
    display: flex;
    justify-content: flex-end;
  }
}

.fields {
  flex: 1;
  display: flex;
  min-width: 0;
  align-items: flex-end;
  gap: 1rem;

  // Override TransactionsTable column styles to use flexible widths with gap
  :global {
    .column--date {
      flex: 1 !important;
    }

    .column--payee {
      flex: 2 !important;
    }

    .column--memo {
      flex: 1.5 !important;
    }

    .column--amount {
      flex: 1.5 !important;

      input {
        text-align: right;
      }
    }
  }
}

.buttonAdd {
  flex: 0 0 6rem;
  margin: 0 0.5rem;
  margin-bottom: 2.6rem;
}

.column {
  @include typoContent;
  & {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 7rem;
    flex: 1;
    min-width: 0;
  }

  label {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-gray-darker;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }

  input {
    width: 100%;
    @include typoContent;
    padding: 0.5rem;
    border-radius: $defaultRadius;
    border: 0.1rem solid $color-cyan;
    color: $color-black;

    &:focus {
      outline: $color-cyan-darker;
    }

    &.hasError {
      border-color: $color-red;
    }
  }
}

.errorMessage {
  color: $color-red;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column--amount {
  label {
    text-align: left;
  }

  .errorMessage {
    text-align: left;
  }
}
